<!DOCTYPE html>
<html>
<head>
    <title>java store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/main.js"></script>
</head>
<body>
<h1>Shoplist</h1><br>
<div id="products">
</div><br>
<a href="/add">
    <button style="background-color: salmon; border-color: darkslategrey; color: darkslategrey; height:25px;width:50px">add</button>
</a>
</body>
</html>